@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
  font-family: 'Lato', sans-serif !important;
  background-color: #f6f6f6 !important;
}

main {
  min-height: 800px;
}


/*****************Ini: Classes Header******************/

.navbar-brand {
  height: auto !important;
}

.navbar-toggle {
  background-color: #000 !important;
  margin-top: 22px !important;
  border-radius: 0px !important;
}

.icon-bar {
  background-color: #fff;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-nav {
  margin-top: 11px !important;
}

.navbar-henri {
  background-color: #fff;
}

.navbar-henri .navbar-nav > li > a {
  color: #000;
}

.navbar-henri .navbar-nav > li > a:hover,
.navbar-henri .navbar-nav > li > a:focus,
.navbar-henri .navbar-nav > li.active > a,
.navbar-henri .navbar-nav > li.active > a:focus {
  border-bottom: 2px solid #000;
  background-color: transparent;
}

/*****************End: Classes Header******************/


/*****************Ini: Classes Body******************/


.back-pagina {
  height: 450px;
  position: relative;
}

.retina-back {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 450px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.titulo-pagina {
  text-align: center;
  color: #fff;
  margin-top: 200px;
  text-transform: uppercase;
  font-size: 32px;
}

/* ini: carousel home 326px*/
#carousel-home {
  max-width: 1920px;
  margin: 0 auto;
}
#carousel-home, #carousel-home .item {
  height: 326px;
}
#carousel-home .item {
  background-repeat: no-repeat;
  background-position: center top;
}

#carousel-home .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 0;
  height: 100px;
}

#carousel-home .carousel-caption a {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

#carousel-home .carousel-caption a:hover {
  text-decoration: none;
  color: #828282;
}

#carousel-home .carousel-indicators li {
  text-indent: 0;
  width: 18px;
  height: 18px;
  border-radius: 0px;
  border:0px;
  background-color: #cccac1;
  color: #333333;
  font-size: 11px;
}
#carousel-home .carousel-indicators li.active {
  background-color: #b22d30;
  color: white;
  margin: 1px;
}
#carousel-home .arrow-right, #carousel-home .arrow-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -15px;
}
#carousel-home .fill-link {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
    #carousel-home, #carousel-home .item {
      height: 367px;
    }
}
@media screen and (min-width: 992px) {


  #carousel-home, #carousel-home .item {
    height: 538px;
  }
}
/* end: carousel home */

.box-destaque {
  position: relative;
}

.box-lateral {
  margin-top: 30px;
}

.titulo-destaque {
  position: absolute;
  background-color: #000;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  height: 90px;
}

.titulo-destaque:hover {
  background-color: #fff;
  color: #000;
}

.link-post {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.link-post:hover {
  color: #000;
}

.titulo-destaque a:hover {
  text-decoration: none;
}

.titulo-destaque span {
  text-align: center;
  display: block;
  color: #828282;
  text-transform: uppercase;
  font-size: 12px;
}

.post {
  margin-top: 35px;
  margin-bottom: 30px;
}

.box-post {
  margin-bottom: 30px;
  height: 530px;
}

.bloco-post {
  padding: 10px;
  background-color: #fff;
}

.data-post {
  color: #828282;
  text-transform: uppercase;
  font-size: 12px;
}

.bloco-post h1 {
  font-size: 16px;
}

.capa-post {
  position: relative;
  overflow: hidden;
}
.capa-post > img {
  width: 100%;
  border-radius: 2px;
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.capa-post:hover > img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.capa-post .retina-port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-align: center;
  padding: 30px;
  -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.capa-post:hover .retina-port {
  opacity: 1;
  box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}
.capa-post .retina-port p {
  color: #fff;
}
.capa-post .retina-port a {
  display: block;
  width: 150px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  margin: 16px auto 0;
}

.hr-estilizado {
  background-color: #000;
}

.separador {
  height: 2px;
  width: 30px;
  margin: 7% auto;
}

.sem-margem {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.comments > li {
  font-size: 13px;
}

.paginacao {
  text-align: center;
  margin: 30px 0;
}

.paginacao ul > li > a {
  color: #000;
}

.contato {
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}

.icon-contato {
  font-size: 25px !important;
  margin-top: 30px;
  margin-bottom: 15px;
}

.pre-footer {
  padding-top: 70px;
  padding-bottom: 20px;
}

.titulo-pre-footer {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.hr-pre-footer {
  border-top: 1px solid #e5e5e5 !important;
}

.menu-pre-footer > li > a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}

.menu-pre-footer > li > a:hover {
  color: #858585;
  text-decoration: none;
}


.social-pre-footer > li > a {
  font-size: 22px;
  color: #000;
}

.social-pre-footer > li > a:hover {
  color: #858585;
  text-decoration: none;
}

.pagination-lg>li>a, .pagination-lg>li>span {
  padding: 10px 10px !important;
  font-size: 14px !important;
  background-color: transparent !important;
  border: none !important;
}

.current {
  color: #000 !important;
}

.current:hover,
.current:focus,
.current:active {
  cursor: pointer;
  color: #828282;
}

.capa-port {
  position: relative;
  width: 350px;
  overflow: hidden;
}
.capa-port > img {
  width: 100%;
  border-radius: 2px;
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.capa-port:hover > img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.capa-port .retina-port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 1);
  border-radius: 2px;
  text-align: center;
  padding: 30px;
  -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.capa-port:hover .retina-port {
  opacity: 1;
  box-shadow: inset 0 0 100px 50px rgba(0,0,0,1);
}
.capa-port .retina-port p {
  color: #fff;
}
.capa-port .retina-port a {
  display: block;
  width: 150px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  margin: 16px auto 0;
}

.item-portfolio {
  margin-top: 75px;
}

.titulo-portfolio {
  color: #fff;
}

.btn-portfolio {
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 0px;
}

.btn-portfolio:hover,
.btn-portfolio:active {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000;
  text-decoration: none;
  border-radius: 0px;
}

.btn-portfolio:focus {
  border: 1px solid #000 !important;
}


.filtro-port {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.item-grid {
  margin-bottom: 30px;
}

/*****************End: Classes Body******************/


/*****************Ini: Classes Footer******************/

footer {
  background-color: #252525;
  padding: 20px 0;
  color: #828282;
}

footer p {
  margin-bottom: 0 !important;
}

.copy {
  text-align: center;
}

.logo-footer {
  margin-top: 15px;
}

/*****************End: Classes Footer******************/
